@import '../styles/variables';

.imageCard {
  position: relative;
  margin: calc($gap / 2);
  height: calc(100vh / 4);
  display: flex;
  border-radius: $border-radius;
  box-shadow: 2px 2px 0 0 #d1d3d2;
  overflow: hidden;
}

.media {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.like {
  position: absolute;
  p {
    margin: 0;
    padding: 1rem;
    font-size: 36px;
    color: $liked-color;
    font-weight: bold;


  }
}

.text {
  position: absolute;
  height: 100%;
  width: 100%;
  color: $color-white;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;

  h1 {
    font-size: $font-size-title;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
  }

  hr{
    width: 60%;
    border: 0.5px solid $color-white;
    margin: $gap;
  }

}