@import '../styles/variables';
@import '../styles/mixin';

.card {
  position: relative;
  margin: calc($gap / 2);
  height: calc(100vh / 3);
  display: flex;
  border-radius: $border-radius;
  box-shadow: 2px 2px 0 0 #d1d3d2;
  overflow: hidden;

  @include card-responsive();
}

.media {
  @include shared-card();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  @include shared-card();
  color: $color-white;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
}

.star {
  position: absolute;
  right: -32px;
  top: -32px;
  background-color: $color-grey-dark;
  transform: rotate(45deg);
  display: flex;
  width: calc($gap * 2);
  height: calc($gap * 2);
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

  i {
    font-style: normal;
    display: inline-block;
    color: $color-white;
    font-size: $font-size-large;
    line-height: 1.4;
  }
}

@mixin shared-card {
  position: absolute;
  height: 100%;
  width: 100%;
}

@mixin card-responsive {
  @media screen and (max-width: 576px) {
    height: calc(100vh / 3.5); // Adjusted height for smaller screens
    margin: calc($gap / 4);

  }

  @media screen and (min-width: 576px) {
    margin: calc($gap / 3);
    width: calc(50% - $gap / 1.5);
  }

  @media only screen and (min-width: 768px) {
    height: calc(100vh / 4);
    width: calc(33.3333% - $gap);
  }

  @media only screen and (min-width: 1140px) {
    width: calc(25% - $gap);
  }
}