@import './components/styles/variables';

.app {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  padding: $gap;

  flex-direction: column;
  align-items: center;

  .imageGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}