@import './styles/variables';

.imageGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        
        @media screen and (max-width: 567px) {
            width: 100%;
        }

        @media only screen and (min-width: 568px) {
            width: 33.3333%;
        }

        @media only screen and (min-width: 1140px) {
            width: 25%;
        }

        @media only screen and (min-width: 1440px) {
            width: 20%;
        }

        margin: $gap;
    }
}

.loading {
    text-align: center;
    margin-top: $gap;
    font-size: $font-size-large;
    color: $color-grey-dark;
    font-weight: bold;
    
}